<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language AI</title>
    <!-- CSS -->
    <style src='../static/css/style.css'></style>
    <!-- Favicon -->
    <link rel="icon" type='image/x-icon' href="../static/images/favicon.ico">
</head>
<body>
    <div id='userInteraction'>
        <input id='userInput' type='text'>
        <button id='submitButton' type='submit' value='submit'>Submit</button>
    </div>

    <!-- D3 Scripts -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <!-- Javascript -->
    <script type='text/javascript' src='../static/js/const.js'></script>
    <script type='text/javascript' src='../static/js/app.js'></script>
</body>
</html>